@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Inter", serif;
}
.header{
    width: 1440px;
    margin: 0 auto;
    border: 1px solid #DEDBDB;
}
.nav{
    width: 1440px;
    display: flex;
    align-items: center;
    padding: 0 171px;
    justify-content: space-between;
    height: 140px;
}
.nav ul{
    display: flex;
    gap: 14px;
}
.nav ul li{
    font-size: 36px;
    font-weight: 700;
    line-height: 43.57px;
}
.section{
    width: 1440px;
    height: 884px;
    margin: 0 auto;
    border: 1px solid #DEDBDB;
}
.section-content{
    width: 650px;
    height: 786px;
    border-radius: 50px;
    border: 1px solid #DEDBDB;
    margin: 46px 395px 52px 395px;
}
.nav2{
    display: flex;
    justify-content: space-between;
    padding: 60px 65px;
    align-items: center;
}
.nav2 ul{
    display: flex;
}
.nav2 ul li{
    color: #F0400F;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.05px;
}
.h1{
    color:#0E0D5D;
    font-size: 48px;
    font-weight: 700;
    line-height: 58.09px;
    margin: 90px 65px 0px 64px;
}
.content{
    width: 533px;
    height: 70px;
    border-radius:20px;
    background-color: #eeeded;
    margin: 5px 53px 0px 64px;
    display: flex;
    padding: 8px 11px;
}
.content ul{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-content: center;
    gap: 42px;
}
.content ul li:first-child{
    width: 255px;
    height: 54px;
    background-color: white;
    border-radius: 15px;
    color: black;
}
.content ul li{
    font-size: 28px;
    font-weight: 500;
    line-height: 33.89px;
    color: #757575;
    text-align: center;
    align-content: center;
}
input{
    width: 533px;
    height: 70px;
    border-radius: 20px;
    border: 1px solid #75757530
}
.inp1{
    margin: 30px 53px 30px 64px;
}
.inp2{
    margin: 0px 53px 18px 64px;
}
h3{
    font-size: 24px;
    font-weight: 500;
    line-height: 29.05px;
    color: #757575;
    margin: 0px 190px 31px 213px;
}
.inp3{
    background-color:#F69E86;
    width: 202px;
    height: 67px;
    border-radius: 20px;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.05px;
    color: white;
    text-align: center;
    align-content: center;
    margin: 0px 58px 37px 390px;
}